<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hello World vonm testeten Seite

<br/>

<input id="hanzi" type="text">

<script>
function isChinese(s){
	return /[\u4e00-\u9fa5]/.test(s);
}
function hanzi_to_mc_upd() {
    var x = document.getElementById("hanzi").value;
    var unicode = '';
    var res = 'habe nichts ge';
    if(!isChinese(x)) {
        document.getElementById("mc-alter").innerHTML = "您输入的不是 Hanzi";
        return;
    } else {
        window.location.href = "../testee?han=" + x;
    }
}
</script>

<br></br>

<button type="button" onclick="hanzi_to_mc_upd()">Hanzi to MC-Alter</button>

<p id="mc-alter"></p>

<!--<p> <a href="http://47.107.247.99:5088/?name=%E4%B8%80"  target="_blank">点击查询「一」的声韵及拟音</a> </p>-->

<hr>

</body>
</html>